@charset "utf-8";
/* CSS Document */
body {
	width: 100%;
	height: auto;
	background-color: black;
}
.container {
	position: absolute;
	width: 100%;
	max-width: 1200px;
	height: auto;
	min-height: 1px;
	background-color: white;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 0 auto;
}
.row:before, .row:after {
	content: "";
	display: table;
	clear: both;
}
[class*='col-'] {
	float: left;
	width: 16.6%;
	height: 50px;
	border: 1px #999 solid;
	background-origin: content-box;
	background-color: #EEEEEE;
	box-sizing: border-box;
	padding: 20px;
}
.col-1 {
	width: 33.33%;
}
.col-2 {
	width: 25%;
}
.col-3 {
	width: 50%;
}
.col-4 {
	width: 8.33%;
}
.col-5 {
	width: 16.66%;
}
.col-6 {
	width: 16.66%;
}
.col-6 {
	width: 50%;
}

/*使网格响应*/
@media all and (max-width:768px) {
.col-1 {
	width: 50%;
}
.col-2 {
	width: 25%;
}
.col-3 {
	width: 50%;
}
.col-4 {
	width: 16.66%;
}
.col-5 {
	width: 66.66%;
}
.col-6 {
	width: 25%;
}
.col-7 {
	width: 25%;
}
.row .col-1:last-of-type {
	width: 100%;
}
}
